$accentBd: #D13B20;
$textDk: #3A3738;
$textLt: #978E91;
$back: #FCF2E6;
$bal: #7A8B79;


body {
  background-image: url('https://c2.staticflickr.com/6/5102/5667714482_a5b8c9d311_b.jpg');
  // background-color: $back;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 62.5%;
}

header {
  background-color: $accentBd;
  height: 20%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

 h1 {
  font-size: 3em;
  color: $textDk;
  margin-top: 0;
  text-align: center;
  padding-top: 20px;
 }
}

input {
  border: 0;
  font-size: 2em;
  height: 30px;
  width: 40%;
  margin: 90px 0 40px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.input {
  text-align: center;
  margin: 0 auto;


  .addDo {
    background-color: $accentBd;
    border: 0;
    font-size: 2em;
    width: 32px;
    color: $back;
    overflow: auto;
    margin-left: -2px;
  }
}


section {
  overflow: scroll;
  background-color: $back;
  height: 39px;
  transition: all .5s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-top: 0;
}

.home {
  height: 300px;
}

.lists{
  width: 60%;
  margin: 0 auto;


  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;



    h2 {
      font-size: 2.8em;
      color: $textDk;
      margin: 0;
      text-align: center;
      background-color: $accentBd;

    }

    li {
      font-size: 2.5em;
      padding: 0 0 0 5%;
      display: inline-block;
    }

    li:hover {
      cursor: pointer;
    }

  }
}

ul.open{

  li {
    color: $textDk;
  }
}

ul.closed {
  li {
    color: $textLt;
    text-decoration: line-through;
  }
}

img {
  display: inline-block;
  opacity: 0.5;
  margin-left: 50px;
  vertical-align: -1px;
  height: 20px;
  width: 20px;
}



